<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
	bootstrap="vendor/autoload.php" >
  <coverage>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="OGC Geometry method tests">
        <directory suffix="Test.php">./tests/Geometry</directory>
    </testsuite>
    <testsuite name="Feature tests">
        <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
    <testsuite name="Contructor tests">
        <directory suffix="Test.php">./tests/Constructors</directory>
    </testsuite>
    <testsuite name="PostGIS tests">
        <directory suffix="Test.php">./tests/PostGIS</directory>
    </testsuite>
    <testsuite name="SpatiaLite tests">
        <directory suffix="Test.php">./tests/SpatiaLite</directory>
    </testsuite>
    <testsuite name="SQL tooling tests">
        <directory suffix="Test.php">./tests/SQL</directory>
    </testsuite>
  </testsuites>
</phpunit>
